@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease;
}

nav.sticky {
    padding: 5px 0;
    background: #4070F4;
}

nav .navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo a {
    font-size: 40px;
    font-weight: 500;
    color: #4070f4;
    text-decoration: none;
}

nav.sticky .navbar .logo a {
    color: #fff;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    margin: 0 8px;
    list-style: none;
}

nav .navbar .menu li a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    text-decoration: none;
}

nav .navbar .menu li a:hover {
    color: #4070F4;
}

nav.sticky .navbar .menu li a {
    color: #fff;
}

nav.sticky .navbar .menu li a:hover {
    color: #080d0f;
}

.navbar .media-icons a {
    font-size: 18px;
    margin: 0 6px;
    color: #4070f4;
}

nav.sticky .navbar .media-icons a {
    background-color: #fff;
}

.home {
    
    height: 100vh;
    width: 100%;
    background: url(shivampic.jpg) no-repeat;
    background-size: 40% 75%;
    background-position: bottom right;
    background-attachment: fixed;
}
section{
    padding-top: 55px;
}
.home .home-content {
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.home .text .text-one {
    font-size: 25px;
}

.home .text .text-two {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text .text-three {
    font-size: 40px;
}

.home.button {
    margin: 14px 0;
}
.home .button button a
{
    text-decoration: none;
    color: #FFF;
}
.home .button button a:hover {
    color: #4070F4;
    background-color: #fff;
    border-color: #4070F4;
}
.home .button button {
    outline: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    background-color: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.home .button button:hover {
    color: #4070F4;
    background-color: #fff;
    border-color: #4070F4;
}


nav .menu-btn,
.navbar .cancel-btn {
    display: none;
}
.about .about-details .right{
    width:45%;
}
.about{
    background-color: #F0F8FF;
}
.about .about-details .right img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-details .left{
    width:55%;
    
}
.about .about-details .left .topic{
    font-size: 25px;
    font-weight: 500;
    color: #0E2431;
    margin-bottom: 10px;

}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about-details .left p{
    color: #0E2431;
    text-align: justify;
}
.about .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.about .title span {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
}

.about .title span::before,
.about .title span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #4070F4;
}

.about .title span::after {
    width:70%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;;
}
.about .about-details .left .button button a
    {
        text-decoration: none;
        color: #FFF;
    }
    .about .about-details .left .button button a:hover {
        color: #4070F4;
        background-color: #fff;
        border-color: #4070F4;
    }
.about .about-details .left .button button {
    outline: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    background-color: #4070F4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
    }
    
    .about .about-details .left .button button:hover {
        color: #4070F4;
        background-color: #fff;
        border-color: #4070F4;
    }
    .skills .title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    .skills .title span {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
        position: relative;
    }
    
    .skills .title span::before,
    .skills .title span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #4070F4;
    }
    .skills .title span::after {
        width:70%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7px;;
    }
    .services .title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .services .content
    
        {
            width: 80%;
            margin: 40px auto;
            font-family: 'Poppins', sans-serif;
    }
    .services .title span {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
        position: relative;
    }
    
    .services .title span::before,
    .services .title span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #4070F4;
    }
    .services .title span::after {
        width:70%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7px;;
    }
    .services .boxes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .services .boxes .box{
        background-color: #fff;
        width: 475px;
        margin: 20px 0;
        border-radius: 12px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
        padding: 20px 10px;
        transition: all 0.4s ease;
        
    }
    .services .boxes .box .topic{
        text-align: center;
    }
    .services .boxes .box .link a
    {
        text-decoration: none;
        color: black;
    }
    .services .boxes .box:hover
    {
        background: #4070F4;
        color:#FFF ;
        
    }
    .services .boxes .topic{
        font-size: 25px;
        font-weight: 500;
    }
    .services .boxes .topic p{
        text-align: justify;
    }
    .services{
        background-color: #F0F8FF;
    }
    .contact .title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    .contact .title span {
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 10px;
        position: relative;
    }
    
    .contact .title span::before,
    .contact .title span::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #4070F4;
    }
    .contact .title span::after {
        width:70%;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7px;;
    }
    .contact .title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .contact .content
    
        {
            width: 80%;
            margin: 40px auto;
            font-family: 'Poppins', sans-serif;
    }
    .contact .content .topic{
        font-size: 22px;
        font-weight: 500;
        
        text-align: center;
    }
    .contact .content .button
    {
        text-align: center;
    }
    .contact .content .topic p{
        text-align: justify;
    }
    .contact .content .button button a
    {
        text-decoration: none;
        color: #FFF;
    }
    .contact .content  button a:hover {
        color: #4070F4;
        background-color: #fff;
        border-color: #4070F4;
    }
    .contact .content .button button {
        outline: none;
        color: #FFF;
        font-size: 25px;
        font-weight: 500;
        background-color: #4070F4;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: all 0.4s ease;
    }
    
    .contact .content  button:hover {
        color: #4070F4;
        background-color: #fff;
        border-color: #4070F4;
    }
    footer{
        background: #4070F4;
        text-align: center;
        padding: 15px 0;
    }
    footer .text span{
        color:#fff;
        font-size: 17px;
        font-weight: 500;
    }

@media(max-width: 1190px)
{
    .about .content{
        width: 90%;
    }
    .skills.content
    {
        width: 90%;
    }
    .services.boxes .box{

    }
    
}
@media(max-width : 1090px)
{
    .about .about-details
    {
        flex-direction: column;
    }
    .about .about-details .right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about .about-details .left{
        width:85%;
        margin: 40px 0;
        
    }
}
@media (max-width: 971px)
{
    .about .about-details .right img {
        height: 350px;
        width: 350px;
       
} }
@media (max-width: 750px) {
    nav .menu-btn,
    .navbar .cancel-btn {
        display: contents;
    }
    

    nav .navbar .menu {
        position: absolute;
        left: -1000px;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }

    nav .navbar.active .menu {
        left: 0;
    }

    nav .navbar .menu li a {
        display: block;
        margin: 10px 0;
        font-size: 23px;
        color: #FFF;
    }

    .navbar .media-icons a {
        display: none;
    }
    

    nav .menu-btn,
    .navbar .cancel-btn {
        position: absolute;
        color: #fff;
        font-size: 20px;
        right: 30px;
        top: 20px;
        display: none;
       
    }
    nav .menu-btn{
        color:black;
    }
    
    
    nav .menu-btn,
    .navbar .cancel-btn
    {
        display: block;
    }
    .home .text .text-two
    {
        font-size: 65px;
        
    }
    .home .text .text-three
    {
        font-size: 35px;
    }
    .skills .skill-details
{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.skills .skill-details .left{
    
    width: 90%;
}
.skills .skill-details .boxes
{
    width: 80%;
    margin: 40px 0;
}
    }
    @media(max-width:510px)
    {
    .home .text .text-two
    {
        font-size: 55px;
        
    }
    .home .text .text-three
    {
        font-size: 32px;
    }
}
.skills .skill-details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill .content{
   padding: 40px 0;
}
.skills .skill-details .left{
    
    width: 50%;
}
.skill-details .left p{
    color: #0E2431;
    text-align: justify;
}
.skill-details .left .experience
{
    display: flex;
    align-items: center;
}
.skill-details .left .experience .num
{
    font-size: 80px;
    color: #0E2431;
    font-weight: 500;
}
.skill-details .left .experience .exp
{
    font-size: 18px;
    color: #0E2431;
    font-weight: 500;
}
.skills .skill-details .boxes 
{
    
    width: 45%;
    display: flex ;

    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .skill-details .boxes .box
{
    width: 180px
}
.skills .skill-details .boxes .box .topic{
    font-size: 25px;
    font-weight: 500;
    color: #4070F4;
}
.skills .skill-details .boxes .box .num{
    font-size: 60px;
    font-weight: 500;
    color: #4070F4;
}
.skills .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}
.skills .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.skills .skill-details .left .topic
{
    font-size: 20px;
    font-weight: 100;
}
